<html> 
<head> 
	<link href="/static/css/denmark.css" rel="stylesheet" > 
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head> 
<style>
.Zoom {
	width:0px;
	position:absolute;
	transition: width 0.3s linear 0s;
	}

.image:hover + .Zoom {
	width:800px;
	height:600px;}

</style>
<body> 
<a href="http://localhost:8080"\>
<h1>{{ salutation }} {{ target }}</h1> 
</a>

<!-- <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM> -->



<p class="smallHeader">
Top 5 places to visit in Denmark</p>



<p class="number1">
Number 1: Tivoli Gardens</p>
<img class="image" img src="/images/TivoliGardens.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/TivoliGardens.jpg">

<p class="1text">
Tivoli Gardens in Copenhagen has been one of the most popular attractions in Denmark </br>
for a very long time. Second oldest amusement park in the world but still a fan favorite.</p>




<p class="number2">
Number 2: Bakken - oldest fairground in the world!</p>
<img class="image" img src="/images/bakken.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/bakken.jpg">

<p class="2text">
Just north of Copenhagen you will find Dyrehavsbakken (Bakken) which is the world's oldest </br>
operating amusement park. With free entry this amusement park is also a very popular attraction in Denmark.</p>




<p class="number3">
Number 3: Legoland!</p>
<img class="image" img src="/images/legoland.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/legoland.jpg">

<p class="3text">
One of the most popular attraction in Denmark.</p>





<p class="number4">
Number 4: Copenhagen Zoo!</p>
<img class="image" img src="/images/zoo.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/zoo.jpg">

<p class="4text">
Elephants, hippos, lions, monkeys and polar bears. A visit to Copenhagen's Zoo in the Frederiksberg area is always a wild and exciting experience. </br>
Expect to see a lot of native Danes in the Zoo as it remains a very popular attraction in Denmark among Copenhagen families.</p>





<p class="number5">
Number 5: Djurs Summerland!</p>
<img class="image" img src="/images/djurs.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/djurs.jpg">

<p class="5text">
Bring your entire family to Djurs Sommerland! Days of fun for all ages! Ready for speed, thrills and fun for all the family? </br>
One of the best attractions in Denmark for cooling off in the summer heat.</p>




</body> 
</html>