<html> 
<head> 
	<link href="/static/css/myStyles.css" rel="stylesheet" > 
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head> 
<body> 
<h1>{{ salutation }} {{ target }}</h1> 
<table class="table1">
  <tr>
	<th width="33%">
		<a href="http://localhost:8080/Denmark"\>Denmark</a>
	</th>
	<th width="33%">
		<a href="http://localhost:8080/Romania">Romania</a>
	</th>
	<th width="33%">
		<a href="http://localhost:8080/Slovakia">Slovakia</a>
	</th>
  </tr>
</table>


<a href="http://localhost:8080/Denmark"\>
<img src="/images/Flag1.png" style="width:33%;height:53%;"></a>
<a href="http://localhost:8080/Romania">
<img src="/images/Flag2.png" style="width:33%;height:53%;"></a>
<a href="http://localhost:8080/Slovakia">
<img src="/images/Flag3.png" style="width:33%;height:53%;"></a>

<a href="http://localhost:8080/Contact">
<table class="table5" style="width:100%;height:30%">
    <tr style="height:100px">
	  <td valign="bottom">
		<p>Made by Andreas, Robert, Jozef</p>
	  </td>
    </tr>
</table>
</a>
</body> 
</html>
