<html> 
<head> 
	<link href="/static/css/Romania.css" rel="stylesheet" > 
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head> 
<style>
.Zoom {
	width:0px;
	position:absolute;
	transition: width 0.3s linear 0s;
	}

.image:hover + .Zoom {
	width:800px;
	height:600px;}

</style>
<body> 
<a href="http://localhost:8080"\>
<h1>{{ salutation }}</h1>
</a> 
<h2>Top 5 places to visit in Romania</h2>
<h3>1. Transfăgărăşan</h3>

<p> The Transfăgărăşan is located in the Munții Făgăraș (Făgăraș Mountains), which
makes a connection in the middle of the mountain from north to south between Arpașu de Jos
and Curtea de Argeș.
</p>
<img class="image" img src="/images/transfagaras/trans1.png" align="middle" style="width:33%;height:33%;">
<img class="Zoom" img src="/images/transfagaras/trans1.png" align="middle" >

<p>It was built in 1970, it is 90 km long and it goes up to 2042 meters.</p>
<img class="image" img src="/images/transfagaras/trans5.jpg" style="width:33%;height:33%; align="middle">
<img class="Zoom" img src="/images/transfagaras/trans5.jpg" align="middle">

<p>
It has 578 bridges, a viaduct, and 5 tunnels, from which, one of them passes under the main ridge.
Because of the danger of avalanches, the road is closed in the winter. The opening is in June.
</p>
<img class="image" img src="/images/transfagaras/trans2.jpg" style="width:33%;height:36%;">
<img class="Zoom" src="/images/transfagaras/trans2.jpg" >

<p>
At the top of the road there is a lake called Lacul Bâlea (Bâlea Lake), which can be seen in the following picture.
</p>
<img class="image" img src="/images/transfagaras/trans4.jpg" style="width:33%;height:33%;">
<img class="Zoom" img src="/images/transfagaras/trans4.jpg" >

<h3>2. Horse Falls (Cascada Cailor)</h3>
<p>
This waterfall is located in the North-East part of Rodnei Mountains(Munții Rodnei).
It is located at 1300 meters altitude, and the waterfall is 90 meters. 
This is the largest waterfall in Romania.
</p>
<img class="image" img src="/images/cailor/cailor1.jpg" style="width:33%;height:50%;">
<img class="Zoom" img src="/images/cailor/cailor1.jpg">


<h3>3. Urlătoarea Falls (Cascada Urlătoarea)</h3>
<p>
It is located near the same city as the Horse Falls, which is Bușteni. Located at 1100 meters altitude.
The fall is 15 meters long.
</p>
<img class="image" img src="/images/urlatoare/urla1.jpg" style="width:33%;height:50%;">
<img class="Zoom" img src="/images/urlatoare/urla1.jpg">

<h3>4. Dracula (Bran Castle)</h3>
<p>
Here you can see the top view of the Bran Castle, 
located in a city called Brașov, and it is known for the raid that Vlad 
Țepeș did to the city. His army passed through Bran in early 1459 to attack Brașov, 
in order to settle a conflict between the Wallachia Voivode and the Saxons.
</p>
<img class="image" img src="/images/bran/bran1.jpg" style="width:33%;height:50%;">
<img class="Zoom" img src="/images/bran/bran1.jpg">
<p>
The actual Dracula's Castle is the Poenari Fortress.
</p>
<img class="image" img src="/images/dracula/drac1.jpg" style="width:33%;height:50%;">
<img class="Zoom" img src="/images/dracula/drac1.jpg">

<h3>5. E Evangelia</h3>
<p>
MV E Evangelia is a shipwrecked 7,355 gross register tons (GRT) 
refrigerated cargo ship at Costinești on the Black Sea coast of Romania. 
She was built in Northern Ireland in 1942 as the Empire ship Empire Strength.
</p>
<img class="image" img src="/images/evang.jpg" style="width:30%;height:40%;">
<img class="Zoom" img src="/images/evang.jpg">

</body> 
</html>