<html> 
<head> 
	<link href="/static/css/slovakia.css" rel="stylesheet" > 
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
</head> 
<style>
.Zoom {
	width:0px;
	position:absolute;
	transition: width 0.3s linear 0s;
	}

.image:hover + .Zoom {
	width:800px;
	height:600px;}

</style>
<body> 
<a href="http://localhost:8080"\>
<h1>{{ salutation }} {{ target }}</h1> 
</a>
<p class="smallHeader">Top 5 places to visit in Slovakia!</p>

<p class="number">
Bratislava</p>
<p class="text">
Bratislava is the capital of Slovakia and is also the largest city in the nation.<br>
The city can be found in the southwestern part of the country situated along both of the Danube and Morava banks.<br>
It is here that the country borders with Hungary as well as Austria.</p>
<img class="image" img src="/images/Bratislava.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/Bratislava.jpg" align="middle">


<p class="number">
Slovak karst and Domnica cave</p>
<p class="text">
Slovak Karst is a national park and one of just two natural attractions inscribed on the UNESCO World Heritage List.<br>
It is a home to 712 caves which include some of the best caves in Slovakia.
One of them is Domica Cave which is the biggest cave in Slovakia.</p> 
<img class="image" img src="/images/Domnica.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/Domnica.jpg" align="middle">


<p class="number">
Spiš castle, the 6th biggest castle in the world</p>
<p class="text">
One of the most magnificent sights in Slovakia is that of the ghostly, sprawling ruins of Spiš Castle (Spišský hrad) atop its lonely hill 200 m above the surrounding land.<br>
It is situated in a region called Spiš, above the town of Spišské podhradie and the village Žehra. This is one of the biggest European castles by area (41 426 m²).</p>
<img class="image" img src="/images/Spiscastle.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/Spiscastle.jpg" align="middle">


<p class="number">
Slovak Paradise</p>
<p class="text">
Slovak Paradise National Park is a real natural jewel situated in the heart of Slovakia.<br>
It offers kilometres of trails along the forested mountains, lakes and waterfalls dotted with breathtaking views over the area (especially the one called Tomášovský výhľad.</p>
<img class="image" img src="/images/SlovakParadise.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/SlovakParadise.jpg" align="middle">

<p class="number">
High Tatras</p>
<p class="text">
Forming the border between the nations of Poland and Slovakia, the Tatra Mountains are considered to be the tallest range in the country of Slovakia.<br>
The vast majority of the mountain range is situated well above 900 meters and its highest peak at Mount Gerlach rises more then 2,655 meters above the sea.<br>
Because of its altitude, the Tatra Mountains have become a popular skiing and spa destination in the country.<br>
Some of the most beautiful places to visit in the High Tatras include Popradské pleso, or Zelené pleso, that is perhaps the most beautiful and romantic place in Slovakia at all.<br></p>
<img class="image" img src="/images/HighTatras.jpg" style="width:33%;height:53%;">
<img class="Zoom" img src="/images/HighTatras.jpg" align="middle">

</body> 
</html>